{% extends 'baseapp/index.html' %}
{% load static %}

{% block body %}

<header>
  <div class="cart-title">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12">
          <div class="bread-crumb">
            <a href="{% url 'show_index' %}">ДОМОЙ</a> /            
            <a href="{% url 'show_list' slug=item.category.slug %}"><span>{{ item.category }}</span></a>
          </div> 
        </div>
      </div>
    </div>    
  </div>   
 </header>
 <main>
   <div class="container">
     <div class="row mb-3 pl-2 productmb0">
       <div class="col-md-5 pl-0">
         <div class="flexslider flexslider1">        
           <ul class="slides">
           {% for picture in item.get_pictures %}            
             <li data-thumb="{{ picture.image.url }}">
               <a href="{{ picture.image.url }}" data-lightbox="example-set">
                 <img src="{{ picture.image.url }}" alt=".">
               </a> 
             </li>
             {% endfor %}
           </ul>           
         </div> 
       </div> 
       <div class="col-md-7">
         <div class="cart-title pl1 pt-1">
           <h1 class="mb-0">{{ item.name }}</h1>
           
           <div class="product featured-product">

             <h3 class="mb-1">{{ item.price }} {% if item.old_price != 0 %}<span class="price">{{ item.old_price }}</span>{% endif %}</h3>
             <p class="mb-0 mobile16">{{ item.description }}</p>
             <p class="mb-1half"><span class="gram">Вес: {{ item.weight }}</span></p>
           </div>
           <form action="{% url 'add_to_cart' slug=item.slug %}" method="post">
            {% csrf_token %}
           <div class="row mb-1 h-100 align-items-center">
           <div class="col-sm-auto col-12">
           <div class="counteritem">
              <a href="#" class="sc-minus">-</a>
                <input type="text" name="quant" value="1">
              <a href="#" class="sc-plus">+</a>
            </div>
            </div>
            <div class="col-sm col-12 pt-1">
              <button type="submit" class="custom-button1 ml-4">В КОРЗИНУ</button>              
            </div>
            </div>            
            {% for additive in additives %}            
            <div class="row h-100 align-items-center">
           <div class="col-sm col-12">
           <div class="counteritem">
              <a href="#" class="sc-minus">-</a>
                <input type="text" name="quant{{ forloop.counter }}" value="0">
              <a href="#" class="sc-plus">+</a>
            </div>
            </div>
            <div class="col-sm col-12 pt-1">
              <h3 class="mb-1">{{ additive.price }}</h3>
            </div>
            <div class="col-sm col-12 pt-1">
              <input type="hidden" name="additive{{ forloop.counter }}" value="{{ additive.slug }}"><h3 class="pricetitle1">{{ additive.name }}</h3>
            </div>
            </div>          
            {% endfor %}
            </form>                        
         </div>          
       </div> 
     </div>  
       
      <!-- Products --> 
      <div class="row products mb-3 custom-gutters1">
        <div class="col-12 mb-1 text-center">
          <h3 class="maintitle">РЕКОМЕНДУЕМ</h3> 
        </div> 
        
        {% for recommendation in recommendations %}
        <div class="col-md-3 col-sm-6 text-center">
          <div class="product featured-product">
            <div class="image-wrapper">
              <a href="{% url 'show_item' slug=recommendation.slug %}">
                {% if recommendation.discount != 0 %}<h6 class="label">-{{ recommendation.discount }}%</h6>{% endif %}
                {% if recommendation.main_picture_is_exist %}             
              <img class="p-image" src="{{ recommendation.get_main_picture.image.url }}" alt="#">
              {% else %}
              <img class="p-image" src="{% static 'images/product1b.png' %}" alt="#">
              {% endif %}
              </a>
            </div>   
            <h3 class="pricetitle1">{{ recommendation.name }}</h3> 
            <h3 class="pricetitle">{{ recommendation.price }} {% if recommendation.old_price != 0 %}<span>{{ recommendation.old_price }}</span>{% endif %}</h3>
            <a href="{% url 'add_to_cart' slug=recommendation.slug %}" class="custom-button2a ml-4">КУПИТЬ</a>
          </div>
        </div>
        {% endfor %}
        
        
          
      </div>  
    </div>  
 </main>
 {% endblock %}