{% extends 'baseapp/index.html' %}
{% load static %}

{% block body %}
<main>
	<div class="container overflow-hidden-small">

		{% for category in menu.get_categoryes %}
		
		<div class="row products mb-3 custom-gutters1">
			<div data-josh-anim-name="fadeInLeft" class="josh-js col-12 mb-2">
				<h3 class="maintitle">{{ category.name }}</h3> 
			</div> 
			{% for item in category.get_goods %}
			<div class="col-lg-3 col-md-4 col-sm-6 text-center">
				<div class="product featured-product">
					<div data-josh-anim-name="fadeIn" class="josh-js image-wrapper">
						<a href="{% url 'show_item' slug=item.slug %}">
							{% if item.discount != 0 %}<h6 class="label">-{{ item.discount }}%</h6>{% endif %}

							{% if item.main_picture_is_exist %}							
							<img class="p-image" src="{{ item.get_main_picture.image.url }}" alt="#">
							{% else %}
							<img class="p-image" src="{% static 'images/product1b.png' %}" alt="#">
							{% endif %}
						</a>
					</div>   
					<h3 class="pricetitle1">{{ item.site_name }}</h3> 
					<h3 class="pricetitle">{{ item.price }}{% if item.old_price != 0 %}<span class="price">{{ item.old_price }}</span>{% endif %} </h3>					
					<a href="{% url 'add_to_cart' slug=item.slug %}" class="custom-button2a ml-4">В КОРЗИНУ</a>
				</div>
			</div>
			{% endfor %}
		</div>

		 
		{% endfor %}
	</div>  
</main>
{% endblock %}